[color]
    ui = auto

[user]
    email = kip-s@kip-s.net
    name = kip-s

[url "g:"]
  InsteadOf = https://github.com/
  InsteadOf = git@github.com:

[url "gl:"]
  InsteadOf = https://gitlab.com/
  InsteadOf = git@gitlab.com:
