[color]
    ui = auto
[user]
    email = kip-s@kip-s.net
    name = kip-s

[url "git@github.com:"]
  pushInsteadOf = git://github.com/
  pushInsteadOf = https://github.com/

[url "git://github.com/"]
  insteadOf = https://github.com/

